! VARIABLES:
! dmvpn_password, dmvpn_address_router, dmvpn_netmask, hub_1_private, hub_1_public, asn, cloud_private_space, cloud_private_netmask, g2_default_gateway
!
event manager applet checkBGPmonitor_down
 event syslog pattern "neighbor {{ hub_1_private }} IPv4 Unicast vpn vrf internal topology base removed from session"
 action 000 puts "BGP is down!"
 action 100 cli command "enable"
 action 101 cli command "config terminal"
 action 102 cli command "interface GigabitEthernet 2"
 action 103 cli command "shutdown"
!
event manager applet checkBGPmonitor_up
 event syslog pattern "BGP-5-ADJCHANGE: neighbor {{ hub_1_private }} vpn vrf internal Up"
 action 000 puts "BGP is up!"
 action 100 cli command "enable"
 action 101 cli command "config terminal"
 action 102 cli command "interface GigabitEthernet 2"
 action 103 cli command "no shutdown"
!
flow monitor FM1
 description very basic
 record netflow ipv4 original-input
!
sampler S1
 description sample at 50%
 mode random 1 out-of 2
!
interface GigabitEthernet2
 vrf forwarding internal
 ip address dhcp
 ip flow monitor FM1 sampler S1 input
 shutdown
!
! below is your cloud address space from the common.yaml file. This is redistributed into BGP
ip route vrf internal {{ cloud_private_space }} {{ cloud_private_netmask }} {{ g2_default_gateway }} tag 777 name cloud_space
! below is the address for the SILB probe return
ip route vrf internal 168.63.129.16 255.255.255.255 {{ g2_default_gateway }} name azure_SILB
!
crypto ikev2 proposal IKEv2_PROPOSAL
  encryption aes-cbc-192 aes-cbc-256
  integrity sha256 sha384 sha512
  group 14 24
!
crypto ikev2 policy IKEv2_POLICY
  proposal IKEv2_PROPOSAL
!
crypto ikev2 keyring cisco-ikev2-keyring
 peer dmvpn-node
  description symmetric pre-shared key for the hub/spoke
  address 0.0.0.0 0.0.0.0
  pre-shared-key {{ dmvpn_password }}
!
crypto ikev2 profile cisco-ikev2-profile
 match address local interface GigabitEthernet1
 match identity remote any
 authentication remote pre-share
 authentication local pre-share key {{ dmvpn_password }}
 keyring local cisco-ikev2-keyring
!
crypto ipsec transform-set AES256/SHA256/TRANSPORT esp-aes 256 esp-sha256-hmac
 mode transport
!
crypto ipsec fragmentation before-encryption
!
crypto ipsec security-association replay window-size 128
!
crypto ipsec transform-set xform esp-aes 256 esp-sha256-hmac
 mode transport
!
crypto ipsec df-bit clear
!
!
crypto ipsec profile cisco-ipsec-ikev2
 set transform-set AES256/SHA256/TRANSPORT
 set ikev2-profile cisco-ikev2-profile
!
interface Tunnel1
 description DMVPN
 vrf forwarding internal
 ip address {{ dmvpn_address_router }} {{ dmvpn_netmask }}
 no ip redirects
 ip mtu 1400
 ip nhrp network-id 1
 ip nhrp nhs {{ hub_1_private }} nbma {{ hub_1_public}} multicast
 ip tcp adjust-mss 1360
 tunnel source GigabitEthernet1
 tunnel mode gre multipoint
 tunnel key 1
 tunnel protection ipsec profile cisco-ipsec-ikev2
!
route-map redist_tag permit 100
 match tag 777
!
router bgp {{ asn }}
 no bgp default ipv4-unicast
 bgp log-neighbor-changes
 timers bgp 3 15
 !
 address-family ipv4 vrf internal
  bgp router-id {{ dmvpn_address_router }}
  neighbor {{ hub_1_private }} remote-as {{ asn }}
  neighbor {{ hub_1_private }} remote-as next-hop-self
  redistribute static route-map redist_tag
  maximum-paths 32
  maximum-paths ibgp 32
  neighbor {{ hub_1_private }} activate
  exit-address-family
